<section class="pt-5 mx-2 animate__animated" [ngClass]="!exit ? 'animate__backInRight' : 'animate__backOutRight' ">
    <section class="text-center mt-5 mb-0">
        <img class="rounded-circle bg-white" width="130px" height="130px" src="../../../assets/img/forgot.png">
    </section>
    <section class="card mx-auto pb-4">
        <form class="form-signin pt-3" [formGroup]="form">
            <h2 class="text-center">Restablecer Contraseña</h2>
            <div class="ui labeled input w-100">
                <div class="ui label"><b>@</b></div>
                <input type="email" placeholder="micorreo@mail.com" formControlName="mail" required (keyup.enter)="onResetPassword()">
            </div>
            <p class="text-justify text-muted my-4">
                <small>
                    <b>Nota: </b>
                    <span *ngIf="isEmail(); else note"><br>"Ingrese el correo que utiliza para iniciar sesión en el sistema"</span>
                    <ng-template #note>
                        <span class="text-warning">Formato de correo inválido</span>
                    </ng-template>
                </small>
            </p>
            <button class="btn btn-warning btn-block" [disabled]="isValid()" (click)="onResetPassword()">Recuperar Contraseña</button>
            <button (click)="redirect()" class="btn btn-dark btn-block text-white">Atrás</button>
        </form>
    </section>
</section>