section.text-center.mt-5 {
    z-index: 1010;
    position: relative;
}

section.card.mx-auto.pb-4 {
    margin-top: -3em;;
}

.card {
    max-width: 380px;
    padding: 40px 25px;
}

.form-signin input{
    font-size: 16px;
}

.inner-icon .fas {
    position: absolute;
    padding: 0.8em 0 1em 0.6em;
    color: gray;
}

.left-icon input {
    padding-left: 1.8em;
}

a.link {
    cursor: pointer;
    color: #0E98C7;
}

button.btn.btn-lg.btn-block.mb-3 {
    color: white;
    padding: 0;
    text-transform: none;
    height: 35px;
    cursor: pointer;
}