<div class="table-responsive">
    <table class="table table-hover mt-3 bg-white">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Código</th>
                <th>Producto</th>
                <th>Stock</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><small><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></small></td>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>5</small></td>
                <td><small><input type="number" class="form-control col-sm-3" value="1"></small></td>
                <td><small><input type="number" class="form-control col-sm-5" value="890.00"></small></td>
            </tr>
            <tr>
                <td><small><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></small></td>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>5</small></td>
                <td><small><input type="number" class="form-control col-sm-3" value="1"></small></td>
                <td><small><input type="number" class="form-control col-sm-5" value="890.00"></small></td>
            </tr>
            <tr>
                <td><small><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></small></td>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>5</small></td>
                <td><small><input type="number" class="form-control col-sm-3" value="1"></small></td>
                <td><small><input type="number" class="form-control col-sm-5" value="890.00"></small></td>
            </tr>
            <tr>
                <td><small><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></small></td>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>5</small></td>
                <td><small><input type="number" class="form-control col-sm-3" value="1"></small></td>
                <td><small><input type="number" class="form-control col-sm-5" value="890.00"></small></td>
            </tr>
            <tr>
                <td><small><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></small></td>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>5</small></td>
                <td><small><input type="number" class="form-control col-sm-3" value="1"></small></td>
                <td><small><input type="number" class="form-control col-sm-5" value="890.00"></small></td>
            </tr>
        </tbody>
    </table>
</div>