<div class="animate__animated animate__fadeIn">
    <section class="row">
        <div class="col-md-8">
            <h3>Lista de Productos</h3>
        </div>
        <div class="col-md-4 mb-4">
            <span class="float-right my-auto">
                <a class="btn btn-info btn-sm btn-round" routerLink="/dashboard/product/add"><i class="fas fa-plus-circle"></i> Agregar</a>
            </span>
        </div>
    </section>

    <!-- MANUAL Y DINAMICO DESDE TS -->
    <div class="container">


    <div class="table-responsive">
        <table class="table table-hover mt-3 bg-white nowrap responsive" #productsLis>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Imágen</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Disponible</th>
                    <th scope="col">Shock</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-danger badge-pill">No</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-danger badge-pill">No</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-danger badge-pill">No</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">AD35J</th>
                    <td><img src="./assets/img/icon.png" width="60" alt="Producto" class="img-thumbnail"></td>
                    <td>Shampú</td>
                    <td><span class="badge badge-warning badge-pill">Sí</span></td>
                    <td>4</td>
                    <td>₡ 890.00</td>
                    <td>
                        <button class="btn btn-sm btn-primary btn-round" title="eDITAR">Editar</button>
                        <button class="btn btn-sm btn-secondary btn-round">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>