<div class="table-responsive">
    <table class="table table-borderless mt-3 bg-white shadow rounded">
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>₡ Costo Unitario</th>
                <th>₡ Total</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProduct; index as i;">
                <th>{{ product.code }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }}</td>
                <td>₡{{ product.price | currency:' ' }}</td>
                <td>₡{{ product.total | currency:' ' }}</td>
                <td><i class="fas fa-trash-alt" style="cursor: pointer;" 
                    title="Eliminar producto" (click)="deleteProduct(i, product)"></i>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </tbody>
        <br>
        <tfoot>
            <tr>
                <th class="border-0" colspan="4"><h3 class="float-right">SubTotal</h3></th>
                <th class="border-0" colspan="2"><h3>₡{{ bill.subTotal | currency:' ' }}</h3></th>
            </tr>
            <tr>
                <th class="border-0" colspan="4"><span class="float-right">IVA (%)</span></th>
                <th class="border-0" colspan="2">
                    <select class="form-control w-75" #tax (change)="onChangeTax(tax.value)">
                        <option [ngValue]="0" selected>0</option>
                        <option *ngFor="let tax of taxList" [ngValue]="tax.value">{{tax.value}}</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th class="border-0" colspan="4"><h1 class="float-right">Total</h1></th>
                <th class="border-0" colspan="2"><h1>₡{{ calculeTotal() | currency:' '  }}</h1></th>
            </tr>
            <tr>
                <th class="border-0" colspan="6">
                    <span class="float-right">
                        <button class="btn btn-info btn-round btn-sm mr-3" [disabled]="!billValid()" (click)="onSave()">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>