.container-fluid {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #2980b9);
    width: 100%;
    height: 100vh;
}