<div class="row animate__animated animate__fadeIn">
    <div class="col-md-4 text-center">
        <h2 class="mb-3"><b>Perfil de Usuario</b></h2>
        <img [src]="profile.photo.url" style="max-width: 200px;max-height: 200px;" alt="avatar" class="rounded-circle mb-3">
        <br>
        <input type="file" class="d-none" #filePhoto (change)="onSelectPhoto($event)" accept="image/*" (click)="$event.target.value = ''">
        <small class="text-muted">Tamaño de imágen máximo recomendado 720x720 pixeles</small>
        <br><br>
        <button class="btn btn-info btn-sm text-white mb-3" (click)="filePhoto.click()" *ngIf="!btnReset && !btnDelete">
            <i class="fas fa-image"></i> Imágen
        </button>
        <button class="btn btn-info btn-sm mb-3 mx-1" *ngIf="btnReset">
            &nbsp;&nbsp;<i class="fas fa-upload"></i> Subir&nbsp;&nbsp;
        </button>
        <!-- <button class="btn btn-dark btn-sm mb-3 mx-1" (click)="onResetPhoto()" *ngIf="btnReset">
            <i class="fas fa-minus-circle"></i> Remover
        </button> -->
        <button class="btn btn-dark btn-sm mb-3 mx-1" (click)="deletePhoto()" *ngIf="btnDelete">
            <i class="fas fa-trash-alt"></i> Eliminar
        </button>
    </div>
    <div class="col-md-8 bg-white rounded">
        <form class="px-3 pb-5" [formGroup]="form">
            <h3 class="text-center mb-3 mt-3"><b>Datos Personales</b></h3>
            <br>
            <article class="form-group row">
                <label for="name" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-4 mb-2">
                    <input type="text" class="form-control" id="name" [value]="profile.name" disabled>
                </div>
                <label for="surname" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-4 mb-2">
                    <input type="text" class="form-control" id="surname" [value]="profile.surname" disabled>
                </div>
            </article>

            <article class="form-group row">
                <label for="mail" class="col-sm-2 control-label">Correo</label>
                <div class="col-sm-4 mb-2">
                    <input type="email" class="form-control" id="mail" [value]="profile.mail" disabled>
                </div>
                <label for="status" class="col-sm-2 control-label">Rol</label>
                <div class="col-sm-4 mb-2">
                    <select class="form-control" id="role" disabled>
                        <option [selected]="profile.role">Administrador</option>
                        <option [selected]="!profile.role">Estandar</option>
                    </select>
                </div>
            </article>

            <article class="form-group row">
                <label for="passNow" class="col-sm-2 control-label">Contraseña Actual</label>
                <div class="col-sm-4 mb-3">
                    <section class="ui labeled input w-100" [ngClass]="hasErrorField('passNow') ? 'error':''">
                        <span style="cursor: pointer;" class="ui label bg-dark" (click)="onChangePassNow()" title="mostrar u ocultar contraseña">
                            <i *ngIf="!passNow" class="fas fa-lock text-white"></i>
                            <i *ngIf="passNow" class="fas fa-lock-open text-white"></i>
                        </span>
                        <input [type]="typePassNow" id="passNow" formControlName="passNow" placeholder="●●●●●●●●">
                    </section>
                    <section class="text-danger" *ngIf="hasErrorField('passNow')">
                        <small>Contraseña actual es requerida.</small>
                    </section>
                </div>
                <label for="passChange" class="col-sm-2 control-label">Contraseña Nueva</label>
                <div class="col-sm-4 mb-3">
                    <section class="ui labeled input w-100" [ngClass]="hasErrorField('passNew') ? 'error':''">
                        <span style="cursor: pointer;" class="ui label bg-dark" (click)="onChangePassNew()" title="mostrar u ocultar contraseña">
                            <i *ngIf="!passNew" class="fas fa-lock text-white"></i>
                            <i *ngIf="passNew" class="fas fa-lock-open text-white"></i>
                        </span>
                        <input [type]="typePassNew" id="passNew" formControlName="passNew" placeholder="●●●●●●●●">
                    </section>
                    <section class="text-danger" *ngIf="hasErrorField('passNew')">
                        <small *ngIf="requiredField('passNew')">Contraseña nueva es requerida. </small>
                        <small *ngIf="patternField('passNew')">La nueva contraseña no cumple con lo necesario. </small>
                    </section>
                </div>
            </article>

            <article class="form-group row px-3" style="font-size: 0.8em;">
                <p class="text-dark text-justify">
                    <i class="fas fa-info-circle"></i> Es necesario que la contraseña cumpla las siguientes condiciones:    
                </p>
                <ul>
                    <li>Mínimo 8 carácteres. </li>
                    <li>Mínimo una letra mayúscula. </li>
                    <li>Mínimo una letra minúscula. </li>
                    <li>Mínimo un número del 0 al 9. </li>
                    <li>Mínimo un carácter especial "<b>@ $ % ? ! * &</b>"</li>
                </ul>
            </article>
            <article class="form-group row w-75 mx-auto">
                <button class="btn btn-block" [ngClass]="formValid() ? 'btn-warning':'btn-secondary'" [disabled]="!formValid()">
                    <i class="far fa-check-circle"></i> Cambiar Contraseña
                </button>
            </article>
            <br>
            <hr class="text-center text-muted">
            <h3 class="text-center mb-3"><b>Cambiar Colores</b></h3>
            <article class="form-group row">
                <div class="col-sm-3">
                    VERDE
                </div>
                <div class="col-sm-3">
                    MORADO
                </div>
                <div class="col-sm-3">
                    NARANJA
                </div>
                <div class="col-sm-3">
                    AZUL
                </div>
            </article>
        </form>
    </div>
</div>