<div class="row animate__animated animate__fadeIn mt-4">
    <div class="container">
        <form action="#" class="px-3">
            <article class="form-group row">
                <label for="idNumber" class="col-sm-2 control-label">Cédula</label>
                <div class="col-sm-6 mb-2">
                    <input type="number" class="form-control" id="idNumber" placeholder="208370234">
                </div>
            </article>

            <article class="form-group row">
                <label for="name" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-6 mb-2">
                    <input type="text" class="form-control" id="name" placeholder="Marcos Antonio">
                </div>
            </article>

            <article class="form-group row">
                <label for="surname" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-6 mb-2">
                    <input type="text" class="form-control" id="surname" placeholder="Ruíz Rojas">
                </div>
            </article>

            <article class="form-group row">
                <label for="telephone" class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-6 mb-2">
                    <input type="number" class="form-control" id="telephone" placeholder="24356324 - 87654321">
                </div>
            </article>

            <article class="form-group row">
                <label for="mail" class="col-sm-2 control-label">Correo</label>
                <div class="col-sm-6 mb-2">
                    <input type="email" class="form-control" id="mail" placeholder="correo@mail.com">
                </div>
            </article>

            <article class="form-group">
                <button class="btn btn-info text-white btn-sm btn-round" disabled>Guardar</button>
            </article>
        </form>
    </div>
</div>