<div class="animate__animated animate__fadeIn">
    <div class="table-responsive">
        <table class="table mt-3 bg-white">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of listProduct">
                    <td>
                        <button class="btn bg-white" [disabled]="product.error" (click)="addToBill(amount_input.value, product)">
                            <i class="fas fa-cart-plus fa-2x" [ngClass]="product.error ? 'text-secondary':'text-success'" 
                            title="Agregar a lista"></i>
                        </button>
                    </td>
                    <th>{{ product.code }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <input type="number" class="form-control col-sm-3" [value]="1" [ngClass]="product.error ? 'is-invalid':''"
                        #amount_input (change)="stockError(amount_input.value, product)" min="1">
                    </td>
                    <td>
                        <input type="number" class="form-control col-sm-5" [value]="typeAccion ? product.price : product.cost" [ngClass]="product.error ? 'is-invalid':''"
                        #cost_input (change)="isNegative(cost_input.value, product)" min="1">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>