<div class="animate__animated animate__fadeIn">
    <p-table [columns]="cols" [value]="listProduct" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Listado del {first} al {last} de {totalRecords} productos"
        [globalFilterFields]="['code', 'products']" [rowsPerPageOptions]="[5,10,25]" #dt
        styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="caption">
            <article class="col-md-6 d-inline-block">
                <input pInputText type="text" class="form-control input-sm" placeholder="Buscar producto"
                    (input)="dt.filterGlobal($event.target.value, 'contains')">
            </article>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="bg-dark text-white">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="bg-dark text-white">
                    Precio
                    <span *ngIf="!typeAccion">Costo</span>
                    <span *ngIf="typeAccion">venta</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <th style="border-bottom: solid 1px #DEE2E6;">
                    <button class="btn bg-white" [disabled]="product.error" pRipple
                        (click)="addToBill(amount_input.value, product)">
                        <i class="fas fa-cart-plus fa-2x" [ngClass]="product.error?'text-secondary':'text-success'"
                            pTooltip="Agregar a lista"></i>
                    </button>
                    {{ product.code }}
                </th>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <input type="number" class="form-control col-sm-5" [value]="1"
                        [ngClass]="product.error?'is-invalid':''" #amount_input
                        (change)="stockError(amount_input.value, product)" min="1">
                </td>
                <td>
                    <input type="number" class="form-control" [value]="typeAccion?product.price:product.cost"
                        [ngClass]="product.error?'is-invalid':''" (change)="isNegative(cost_input.value, product)"
                        min="1" #cost_input>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>