<div class="table-responsive">
    <table class="table table-hover mt-3 bg-white">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Código</th>
                <th>Producto</th>
                <th>Stock</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></td>
                <th>AD35J</th>
                <td>Shampú</td>
                <td>5</td>
                <td><input type="number" class="form-control col-sm-3" value="1"></td>
                <td><input type="number" class="form-control col-sm-5" value="890.00"></td>
            </tr>
            <tr>
                <td><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></td>
                <th>AD35J</th>
                <td>Shampú</td>
                <td>5</td>
                <td><input type="number" class="form-control col-sm-3" value="1"></td>
                <td><input type="number" class="form-control col-sm-5" value="890.00"></td>
            </tr>
            <tr>
                <td><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></td>
                <th>AD35J</th>
                <td>Shampú</td>
                <td>5</td>
                <td><input type="number" class="form-control col-sm-3" value="1"></td>
                <td><input type="number" class="form-control col-sm-5" value="890.00"></td>
            </tr>
            <tr>
                <td><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></td>
                <th>AD35J</th>
                <td>Shampú</td>
                <td>5</td>
                <td><input type="number" class="form-control col-sm-3" value="1"></td>
                <td><input type="number" class="form-control col-sm-5" value="890.00"></td>
            </tr>
            <tr>
                <td><i class="fas fa-cart-plus fa-2x text-success" title="Agregar a lista"></i></td>
                <th>AD35J</th>
                <td>Shampú</td>
                <td>5</td>
                <td><input type="number" class="form-control col-sm-3" value="1"></td>
                <td><input type="number" class="form-control col-sm-5" value="890.00"></td>
            </tr>
        </tbody>
    </table>
</div>