<breadcrumb [items]="items"></breadcrumb>
<div class="animate__animated animate__fadeIn">
    <h2>Listado de Productos
        <a routerLink="/dashboard/products/add" class="btn btn-primary btn-sm" pRipple pTooltip="Agrega un nuevo producto"
            *ngIf="productList.length > 0 && admin">Nuevo</a>
    </h2>
    <div class="animate__animated animate__fadeIn" *ngIf="productList.length > 0; else empty">
        <p-table [columns]="cols" [value]="productList" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Listado del {first} al {last} de {totalRecords} productos"
            [rowsPerPageOptions]="[5,10,25]" #dt styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="caption">
                Buscar:
                <article class="col-md-6 d-inline-block">
                    <span [ngSwitch]="'name'">
                        <input pInputText type="text" class="form-control input-sm"
                            placeholder="Escriba el nombre del producto"
                            (input)="dt.filter($event.target.value, 'name', cols[2].filterMatchMode)">
                    </span>
                </article>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="bg-dark text-white">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="bg-dark">&nbsp;</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <th style="border-bottom: solid 2px #E9ECEF;">&nbsp;&nbsp;{{ product.code }}</th>
                    <td>
                        <img [src]="product.photo.url || './../../../assets/img/product.png'" width="50" alt="Producto">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <span *ngIf="product.status" class="badge badge-success badge-pill">Sí</span>
                        <span *ngIf="!product.status" class="badge badge-danger badge-pill">No</span>
                    </td>
                    <td>{{ product.stock }}</td>
                    <td>₡{{ product.price| currency:' ' }}</td>
                    <td>
                        <div *ngIf="admin; else notAdmin">
                            <button pRipple pTooltip="Editar registro" (click)="editProduct(product)" 
                            class="btn btn-sm btn-warning rounded-circle mx-1">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button pRipple pTooltip="Eliminar registro" (click)="deleteProduct(product)" 
                            class="btn btn-sm btn-dark rounded-circle mx-1">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        <ng-template #notAdmin>
                            <button class="rounded-circle btn btn-warning mx-1 btn-sm" disabled pTooltip="Inicie sesión en una cuenta administrador">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="rounded-circle btn btn-dark mx-1 btn-sm" disabled pTooltip="Inicie sesión en una cuenta administrador">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template #empty>
        <div class="animate__animated animate__fadeIn">
            <p class="lead mb-5 text-justify">
                Al parecer aún no tienes productos, para iniciar agrega unos cuantos productos ó espera a que se cargue
                la lista.
            </p>
            <div class="w-75 mx-auto">
                <a routerLink="/dashboard/products/add" class="btn btn-primary btn-block">
                    <i class="fas fa-cube"></i> Nuevo Producto
                </a>
            </div>
            <br><br><br>
        </div>
    </ng-template>
</div>