<div class="animate__animated animate__fadeIn">
    <h3>Listado de Productos <a routerLink="/dashboard/products/add" class="btn btn-primary btn-sm">Nuevo</a></h3>
    <div class="table-responsive">
        <table class="table mt-3 bg-white">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Imágen</th>
                    <th>Producto</th>
                    <th>Disponible</th>
                    <th>Stock</th>
                    <th>Precio Venta</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productList">
                    <th>{{ product.code }}</th>
                    <td><img [src]="product.photo" width="50" alt="Producto" class="img-thumbnail"></td>
                    <td>{{ product.name }}</td>
                    <td>
                        <span *ngIf="product.status" class="badge badge-success badge-pill">Sí</span>
                        <span *ngIf="!product.status" class="badge badge-danger badge-pill">No</span>
                    </td>
                    <td>{{ product.stock }}</td>
                    <td>₡ {{ product.price }}</td>
                    <td style="border-left: solid 2px #E9ECEF;">
                        <button class="btn btn-sm btn-warning rounded-circle mx-1"><i class="fas fa-edit"></i></button>
                        <button (click)="deleteProduct(product)" class="btn btn-sm btn-danger rounded-circle mx-1"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>