<section class="row">
    <ol class="breadcrumb bg-white border col-md-12">
        <li class="breadcrumb-item">
            <a [routerLink]="'/dashboard'" class="text-primary"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="'/dashboard/products'" class="text-primary"><i class="fas fa-cubes"></i> Productos</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fas fa-edit mt-1"></i>&nbsp;Editar
        </li>
    </ol>
</section>