<section class="row">
    <ol class="breadcrumb bg-white border col-md-12">
        <li class="breadcrumb-item">
            <a [routerLink]="'/dashboard'" class="text-primary"><small><i class="fas fa-home"></i> Inicio</small></a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="'/dashboard/products'" class="text-primary"><small><i class="fas fa-cubes"></i> Productos</small></a>
        </li>
        <li class="breadcrumb-item active">
            <small><i class="fas fa-edit mt-1"></i>&nbsp;Editar</small>
        </li>
    </ol>
</section>