.sidebar .nav li .nav-link:hover,
body>.navbar-collapse .nav li .nav-link:hover {
    border-left: solid 3px #7c43BD;
}

.sidebar .nav li.active .nav-link,
body>.navbar-collapse .nav li.active .nav-link {
    border-left: solid 3px #7c43BD;
}

.sidebar .logo,
body>.navbar-collapse .logo {
    background: #12005E;
}

.navbar {
    background: #4A148C;
}

.navbar .navbar-brand {
    color: #FFFFFF;
}

ul.nav li.nav-item a.nav-link[aria-expanded="true"] {
    border-left: solid 3px #7c43BD;
    background: #222424;
}