<div class="animate__animated animate__fadeIn">
    <section class="text-center d-block d-md-none mb-4">
        <div class="ui buttons">
            <button class="ui button border text-white" style="background:#0094CA;" (click)="change = true">
                <i class="fas fa-pencil-alt"></i> Facturación
            </button>
            <div class="or"></div>
            <button class="ui button border text-white" style="background:#0094CA;" (click)="change = false">
                <i class="fas fa-list-ol"></i> Productos
            </button>
        </div>
    </section>
    <section class="d-none d-md-block">
        <ul class="nav nav-tabs" id="tab" role="tablist">
            <li class="nav-item" (click)="change = true">
                <a class="nav-link" [ngClass]="change?'active':''" id="newPurchase-tab" data-toggle="tab"
                    href="#newPurchase" role="tab" aria-controls="newPurchase" [attr.aria-selected]="change"
                    [attr.aria-expanded]="change">
                    <i class="fas fa-pencil-alt"></i> Facturación
                </a>
            </li>
            <li class="nav-item" (click)="change = false">
                <a class="nav-link" [ngClass]="!change?'active':''" id="productList-tab" data-toggle="tab"
                    href="#productList" role="tab" aria-controls="productList" [attr.aria-selected]="!change"
                    [attr.aria-expanded]="!change">
                    &nbsp;<i class="fas fa-list-ol"></i> Productos&nbsp;
                </a>
            </li>
        </ul>
    </section>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade bg-white" [ngClass]="change?'active show':''" id="newPurchase" role="tabpanel"
            aria-labelledby="newPurchase-tab">
            <h3 class="text-center mt-n1">
                <span style="background:#0094CA;" class="rounded text-white p-2 border">
                    <i class="fas fa-dice-d6"></i> Nueva Compra
                </span>
            </h3>
            <section class="container py-4">
                <section class="row">
                    <article class="col-md-6 order-md-2">
                        <section class="row">
                            <label for="fecha" class="control-label col-sm-4">
                                Fecha Fecha <span class="text-danger">*</span>
                            </label>
                            <div class="form-group col-sm-8">
                                <input type="date" [value]="getDate()" class="form-control" #date_bill
                                    (change)="updateDate(date_bill.value)">
                            </div>
                        </section>
                    </article>
                    <article class="col-md-6 order-md-1">
                        <section class="row">
                            <label for="proveedor" class="control-label col-sm-4">Sucursal <span
                                    class="text-danger">*</span></label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" #warehouse (change)="updateWarehouse(warehouse.value)">
                                    <option selected disabled>Seleccione una sucursal</option>
                                    <option *ngFor="let ware of warehouseList" [ngValue]="ware.name">
                                        {{ ware.name }}
                                    </option>
                                </select>
                            </div>
                        </section>
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-6 order-md-1">
                        <section class="row">
                            <label for="proveedor" class="control-label col-sm-4">Proveedor <span
                                    class="text-danger">*</span></label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" #provider (change)="updateProvider(provider.value)">
                                    <option selected disabled>Seleccione un provedor</option>
                                    <option *ngFor="let prov of providerList" [ngValue]="prov.name">
                                        {{ prov.name }}
                                    </option>
                                </select>
                            </div>
                        </section>
                    </article>
                    <article class="col-md-6 order-md-2">
                        <section class="row">
                            <label for="fecha" class="control-label col-sm-4">
                                Estado <span class="text-danger">*</span>
                            </label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" #status_bill (change)="updateStatus(status_bill.value)">
                                    <option [value]="false">Pendiente</option>
                                    <option [value]="true">Procesado</option>
                                </select>
                            </div>
                        </section>
                    </article>
                </section>
                <bill-check [head]="headBill" [add]="product"></bill-check>
            </section>
        </div>
        <div class="tab-pane fade bg-white" [ngClass]="!change?'active show':''" id="productList" role="tabpanel"
            aria-labelledby="productList-tab">
            <section class="container py-4">
                <stock [sale]="false" (order)="product = $event"></stock>
            </section>
        </div>
    </div>
</div>