<div class="animate__animated animate__fadeIn">
    <ul class="nav nav-tabs" id="tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="newPurchase-tab" data-toggle="tab" href="#newPurchase" role="tab" aria-controls="newPurchase"
                aria-selected="true" aria-expanded="true">
                <i class="fas fa-pencil-alt"></i> Facturación
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="productList-tab" data-toggle="tab" href="#productList" role="tab" aria-controls="productList"
                aria-selected="false" aria-expanded="false">
                <i class="fas fa-list-ol"></i> Productos
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active bg-white" id="newPurchase" role="tabpanel" aria-labelledby="newPurchase-tab">
            <section class="container py-4">
                <section class="row">
                    <article class="col-md-6 order-md-2">
                        <section class="row">
                            <label for="proveedor" class="control-label col-sm-4">Proveedor</label>
                            <div class="form-group col-sm-8">
                                <select id="proveedor" class="form-control ">
                                    <option disabled selected> &nbsp;Seleccione</option>
                                    <option value="Maxi"> &nbsp;Palí</option>
                                </select>
                            </div>
                        </section>
                    </article>
                    <article class="col-md-6">
                        <section class="row">
                            <label for="fecha" class="control-label col-sm-4">Fecha</label>
                            <div class="form-group col-sm-8">
                                <input type="date" class="form-control" [value]="date">
                            </div>
                        </section>
                    </article>
                </section>
                <bill-check></bill-check>
            </section>
        </div>
        <div class="tab-pane fade bg-white" id="productList" role="tabpanel" aria-labelledby="productList-tab">
            <section class="container py-4">
                <stock></stock>
            </section>
        </div>
    </div>

</div>