<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">GESTIÓN DE INVENTARIO</a>
        </div>
        <ul class="nav">
            <li class="nav-item text-center mb-3 d-none d-lg-block">
                <span class="text-muted">
                    <i class="fas fa-ellipsis-v"></i> Menú
                </span>
            </li>
            <li class="nav-item d-block d-lg-none" style="border-bottom: 1px solid #4E575B;">
                <a class="nav-link" data-toggle="collapse" href="#avatarSubmenu" aria-expanded="false" aria-controls="avatarSubmenu">
                    <b>Jerson</b>
                    <span class="float-right mt-n1">
                        <img src="../../../assets/img/avatar.png"
                        alt="sin imágen" class="rounded-circle border d-lg-none" width="35px">
                    </span>
                </a>
                <ul class="collapse list-unstyled animate__animated animate__fadeIn" style="background: #21252B;" id="avatarSubmenu">
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/dashboard/profile']">Perfil <i class="fas fa-user float-right mt-2 mr-3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-power-off float-right mt-2 mr-3"></i> Cerrar sesión</a></li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/dashboard']">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>
            <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-graduation-cap"></i> Academía</a></li> -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#buySubmenu" aria-expanded="false" aria-controls="buySubmenu">
                    <i class="fas fa-dolly"></i> Compras <i class="fas fa-angle-down float-right mt-2"></i>
                </a>
                <ul class="collapse list-unstyled animate__animated animate__fadeIn" style="background: #21252B;" id="buySubmenu">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/dashboard/purchases/new']">
                            <i class="fas fa-cart-plus pl-2"></i> Nueva compra
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/dashboard/purchases']">
                            <i class="fas fa-list pl-2"></i> Historial de compras
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/clients']">
                    <i class="fas fa-chalkboard-teacher"></i> Clientes
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/products']">
                    <i class="fas fa-cubes"></i> Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#saleSubmenu" aria-expanded="false" aria-controls="saleSubmenu">
                    <i class="fas fa-cash-register"></i> Ventas <i class="fas fa-angle-down float-right mt-2"></i>
                </a>
                <ul class="collapse list-unstyled animate__animated animate__fadeIn" style="background: #21252B;" id="saleSubmenu">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/dashboard/sales/new']">
                            <i class="fas fa-shopping-basket pl-2"></i> Nueva venta
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/dashboard/sales']">
                            <i class="fas fa-list pl-2"></i> Administrar ventas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/users']">
                    <i class="fas fa-users"></i> Usuarios
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/warehouses']">
                    <i class="fas fa-house-user"></i> Sucursales
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/providers']">
                    <i class="fas fa-city"></i> Proveedores
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/dashboard/taxes']">
                    <i class="fas fa-hand-holding-usd"></i> Impuestos
                </a>
            </li>
        </ul>
    </div>
</div>