<div class="table-responsive">
    <table class="table table-borderless mt-3 bg-white shadow rounded">
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>₡ Costo Unitario</th>
                <th>₡ Total</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>4</small></td>
                <td><small>890.00</small></td>
                <td><small>₡ 3560.00</small></td>
                <td><i class="fas fa-trash-alt" style="cursor: pointer;" title="Eliminar producto"></i></td>
            </tr>
            <tr>
                <th><small>AD35J</small></th>
                <td><small>Shampú</small></td>
                <td><small>4</small></td>
                <td><small>890.00</small></td>
                <td><small>₡ 3560.00</small></td>
                <td><i class="fas fa-trash-alt" style="cursor: pointer;" title="Eliminar producto"></i></td>
            </tr>
            <tr>
                <th colspan="4"><span class="float-right">SubTotal</span></th>
                <th colspan="2">₡ 10580.00</th>
            </tr>
            <tr>
                <th colspan="4"><span class="float-right">IVA</span></th>
                <th>
                    <select class="form-control col-sm-5">
                        <option value="1">&nbsp;&nbsp; 0%</option>
                        <option value="2">&nbsp;&nbsp; 10%</option>
                        <option value="3">&nbsp;&nbsp; 13%</option>
                    </select>
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th colspan="4"><span class="float-right">total</span></th>
                <th colspan="2">₡ 12080.00</th>
            </tr>
            <tr>
                <th colspan="6">
                    <span class="float-right">
                        <button class="btn btn-info btn-round btn-sm mr-3" style="cursor: pointer;">Guardar</button>
                    </span>
                </th>
            </tr>
        </tbody>
    </table>
</div>