<div class="animate__animated animate__fadeIn">
    <div class="jumbotron jumbotron-fluid">
        <section *ngIf="admin.role">
            <a class="float-right mr-5 mt-n5" pTooltip="Pedidos pendientes" routerLink="/dashboard/purchases">
                <i class="fas fa-bell purple"></i>
                <span *ngIf="bill.size > 0" class="badge badge-warning">{{ bill.size }}</span>
            </a>
        </section>
        <div class="container">
            <h1 class="display-4 d-none d-md-block">Bienvenid@</h1>
            <h1 class="display-5 d-md-none d-block">Bienvenid@</h1>
            <p class="lead text-justify">
                Hola
                <b *ngIf="admin; else loading">{{ admin.name }} {{ admin.surname }}</b>
                <ng-template #loading>
                    <b class="animate__animated animate__pulse">espere un momento...</b>
                </ng-template>
                acá tienes algunos de los módulos del sistema en los cuales podrías
                iniciar.
            </p>
        </div>
    </div>
    <div *ngIf="admin; else wait">
        <section class="row">
            <article class="col-md-4 text-center mb-4">
                <h3>
                    <span class=" p-2 rounded alert-warning">Facturar Venta</span>
                </h3>
                <img class="rounded-circle w-50 border" src="../../../assets/img/sale.png" alt="sales" NotImage>
                <br>
                <div class="ui animated button violet" tabindex="0" (click)="outPath('/dashboard/sales/new')">
                    <div class="visible content">Ir</div>
                    <div class="hidden content">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-4 text-center mb-4">
                <h3>
                    <span *ngIf="admin.role" class="p-2 rounded alert-warning">Agregar Producto</span>
                    <span *ngIf="!admin.role" class="p-2 rounded alert-warning">Lista de Productos</span>
                </h3>
                <img class="rounded-circle w-50 border" src="../../../assets/img/products.png" alt="products" NotImage>
                <br>
                <div *ngIf="admin.role" class="ui animated button violet" tabindex="0"
                    (click)="outPath('/dashboard/products/add')">
                    <div class="visible content">Ir</div>
                    <div class="hidden content">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
                <div *ngIf="!admin.role" class="ui animated button violet" tabindex="0"
                    (click)="outPath('/dashboard/products')">
                    <div class="visible content">Ir</div>
                    <div class="hidden content">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-4 text-center mb-4">
                <h3>
                    <span *ngIf="admin.role" class=" p-2 rounded alert-warning">Realizar Pedido</span>
                    <span *ngIf="!admin.role" class=" p-2 rounded alert-warning">Lista de ventas</span>
                </h3>
                <img *ngIf="admin.role" class="rounded-circle w-50 border" src="../../../assets/img/purchase.png"
                    alt="purchases" NotImage>
                <img *ngIf="!admin.role" class="rounded-circle w-50 border" src="../../../assets/img/enrollment.png"
                    alt="purchases">
                <br>
                <div *ngIf="admin.role" class="ui animated button violet" tabindex="0"
                    (click)="outPath('/dashboard/purchases/new')">
                    <div class="visible content">Ir</div>
                    <div class="hidden content">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
                <div *ngIf="!admin.role" class="ui animated button violet" tabindex="0"
                    (click)="outPath('/dashboard/sales')">
                    <div class="visible content">Ir</div>
                    <div class="hidden content">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <ng-template #wait>
        <h1 class="animate__animated animate__fadeIn animate__infinite infinite">Espere un momento...</h1>
    </ng-template>
</div>