<div class="animate__animated animate__fadeIn">
    <section *ngIf="afPurchase.listPurchase() | async as purchaseList" class="animate__animated animate__fadeIn">
        <div *ngIf="purchaseList.length > 0; else empty">
            <p-table [columns]="cols" [value]="purchaseList" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true" [globalFilterFields]="['number','status','provider']"
                currentPageReportTemplate="Listado del {first} al {last} de {totalRecords} facturas"
                [rowsPerPageOptions]="[5,10,25]" #dt styleClass="p-datatable-responsive-demo">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <article class="col-md-8">
                            <h2>Listado de Compras
                                <a routerLink="/dashboard/purchases/new" class="btn btn-primary btn-sm mb-2" pRipple
                                    pTooltip="Realizar nuevo pedido">Nueva</a>
                            </h2>
                        </article>
                        <article class="col-md-4 d-inline-block">
                            <input pInputText type="text" class="form-control input-sm" placeholder="Buscar factura"
                                (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </article>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="bg-dark text-white">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th class="bg-dark">&nbsp;</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-purchase>
                    <tr>
                        <th style="border-bottom: solid 1px #E9ECEF;font-weight: 400;">
                            <i pTooltip="Pedido procesado" *ngIf="purchase.status"
                                class="fas fa-check text-success"></i>
                            <i pTooltip="Pedido pendiente" *ngIf="!purchase.status"
                                class="fas fa-exclamation-circle text-warning"></i>&nbsp;
                            {{ purchase.date }}
                        </th>
                        <td>{{ purchase.provider }}</td>
                        <td>{{ purchase.date | date:'dd MMMM YYYY' }}</td>
                        <td>{{ purchase.user }}</td>
                        <td>₡{{ calculeTotal(purchase.subTotal, purchase.tax) | currency:' ' }}</td>
                        <td>
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    pTooltip="Despliegue el menú de opciones" pRipple>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                                    *ngIf="afAuth.user$ | async as admin">
                                    <div class="dropdown-divider mb-0"></div>
                                    <a class="dropdown-item" (click)="showBill(purchase)" data-toggle="modal"
                                        data-target="#showPurchase" style="cursor: pointer;">
                                        <i class="fas fa-eye"></i> Visualizar</a>
                                    <a *ngIf="admin.role; else notAdmin" class="dropdown-item"
                                        (click)="deleteBill(purchase)" style="cursor: pointer;">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </a>
                                    <ng-template #notAdmin>
                                        <a class="dropdown-item" style="cursor: pointer;" rel="tooltip"
                                            title="Inicia sesión en una cuenta administrador">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </a>
                                    </ng-template>
                                    <div class="dropdown-divider mt-0"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
    <ng-template #empty>
        <div class="animate__animated animate__fadeIn">
            <h2>Lista de Compras</h2>
            <p class="lead mb-5 text-justify">
                Haz un nuevo pedido o espera a que cargue la lista de compras existente.
            </p>
            <div class="w-75 mx-auto">
                <a routerLink="/dashboard/purchases/new" class="btn btn-primary btn-block" pRipple>
                    <i class="fas fa-cube"></i> Compra Nueva
                </a>
            </div>
            <br><br><br>
        </div>
    </ng-template>
</div>
<div class="modal fade" id="showPurchase" tabindex="-1" role="dialog" aria-labelledby="showPurchaseLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showPurchaseLabel">Factura N° {{ billView.date }}</h5>
                <span class="close" data-dismiss="modal" aria-label="Close" (click)="form.reset()"
                    style="cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </span>
            </div>
            <div class="modal-body">
                <section class="row">
                    <article class="col-md-6">
                        <h4 class=" mb-4">{{ billView.warehouse }}</h4>
                    </article>
                    <article class="col-md-6">
                        <h4 class=" mb-4" [innerHTML]="message()"></h4>
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-6 my-3">
                        <b>Fecha:</b> {{ billView.date | date:'dd MMMM YYYY' }} <br>
                        <b>Hora:</b> {{ billView.date | date:'h:mm a' }} <br>
                        <b>Proveedor:</b> {{ billView.provider }}
                    </article>
                    <article class="col-md-6 my-3">
                        <ul>
                            <li><b>Sub Total:</b> ₡{{ billView.subTotal | currency:' ' }}</li>
                            <li><b>I.V:</b> {{ billView.tax }}%</li>
                            <li><b>Total:</b> ₡{{ calculeTotal(billView.subTotal, billView.tax) | currency:' ' }}</li>
                        </ul>
                    </article>
                </section>
                <section *ngIf="afAuth.user$ | async as admin">
                    <div *ngIf="admin.role && !billView.status" class="row">
                        <article class="form-group col-md-7">
                            <form [formGroup]="form">
                                <article class="form-group">
                                    <select class="form-control" aria-label="Small" formControlName="status">
                                        <option [ngValue]=false>Pendiente</option>
                                        <option [ngValue]=true>Procesado</option>
                                    </select>
                                </article>
                            </form>
                        </article>
                        <article class="col-md-5">
                            <button class="btn btn-primary btn-block btn-sm my-auto" [disabled]="!form.dirty"
                                (click)="updateBill()">
                                <i class="fas fa-check-circle"></i> Actualizar
                            </button>
                        </article>
                    </div>
                </section>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cant.</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of billView.products">
                                <th>{{ product.amount }}</th>
                                <th>{{ product.name }}</th>
                                <th>₡{{ product.price | currency:' ' }}</th>
                                <th>₡{{ product.price * product.amount | currency:' ' }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="con_id">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="form.reset()" pRipple>
                    <i class="fas fa-angle-double-left"></i> Atrás
                </button>
                <button type="button" class="btn btn-info" (click)="ticket()" pRipple>
                    <i class="fas fa-ticket-alt"></i> Ticket
                </button>
                <button type="button" class="btn btn-info" (click)="PDF()" pRipple>
                    &nbsp; <i class="fas fa-file-pdf"></i> PDF &nbsp;
                </button>
            </div>
        </div>
    </div>
</div>