<div class="animate__animated animate__fadeIn">
    <section *ngIf="afPurchase.listPurchase() | async as purchaseList" class="animate__animated animate__fadeIn">
        <div *ngIf="purchaseList.length > 0; else empty">
            <h3>Listado de Compras <a routerLink="/dashboard/purchases/new" class="btn btn-primary btn-sm">Nueva</a>
            </h3>
            <div class="table-responsive" *ngIf="afPurchase.listPurchase() | async as list">
                <table class="table bg-white">
                    <thead class="thead-dark">
                        <tr>
                            <th>Factura N°</th>
                            <th>Estado</th>
                            <th>Proveedor</th>
                            <th>Fecha</th>
                            <th>Administrador</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchase of list">
                            <th>{{ purchase.date }}</th>
                            <th>
                                <span *ngIf="purchase.status" class="badge badge-success badge-pill">Procesado</span>
                                <span *ngIf="!purchase.status" class="badge badge-warning badge-pill">Pendidente</span>
                            </th>
                            <td>{{ purchase.provider }}</td>
                            <td>{{ purchase.date | date:'dd MMMM YYYY' }}</td>
                            <td>{{ purchase.user }}</td>
                            <td>₡{{ purchase.subTotal + (purchase.subTotal * (purchase.tax / 100)) | currency:' ' }}
                            </td>
                            <td>
                                <div class="btn-group dropleft">
                                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                        title="Despliega el menú de opciones dando clic">
                                        <i class="fas fa-chevron-circle-down"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-divider mb-0"></div>
                                        <a class="dropdown-item" (click)="showBill(purchase)" data-toggle="modal"
                                            data-target="#showPurchase">
                                            <i class="fas fa-eye"></i> Visualizar</a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </a>
                                        <a class="dropdown-item" (click)="deleteBill(purchase)"
                                            style="cursor: pointer;">
                                            <i class="fas fa-trash-alt"></i> Eliminar
                                        </a>
                                        <div class="dropdown-divider mt-0"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <ng-template #empty>
        <div class="animate__animated animate__fadeIn">
            <h3>Lista de Compras</h3>
            <p class="lead mb-5 text-justify">
                Haz un nuevo pedido o espera a que cargue la lista de compras existente.
            </p>
            <div class="w-75 mx-auto">
                <a routerLink="/dashboard/purchases/new" class="btn btn-primary btn-block">
                    <i class="fas fa-cube"></i> Compra Nueva
                </a>
            </div>
            <br><br><br>
        </div>
    </ng-template>
</div>
<div class="modal fade" id="showPurchase" tabindex="-1" role="dialog" aria-labelledby="showPurchaseLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showPurchaseLabel">Factura N° {{ billView.date }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-center mb-4">
                    <span *ngIf="billView.status" class="alert-success p-2 rounded">Pedido procesado</span>
                    <span *ngIf="!billView.status" class="alert-warning p-2 rounded">Pedido pendiente</span>
                </h5>
                <section class="row">
                    <article class="col-md-6">
                        <b>Fecha:</b> {{ billView.date | date:'dd MMMM YYYY' }}
                    </article>
                    <article class="col-md-6">
                        <b>Hora:</b> {{ billView.date | date:'h:mm a' }}
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-6">
                        <b>Sucursal:</b> {{ billView.warehouse }}
                    </article>
                    <article class="col-md-6">
                        <b>Proveedor:</b> {{ billView.provider }}
                    </article>
                </section>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>₡ Costo Unitario</th>
                            <th>₡ Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of billView.products">
                            <th>{{ product.code }}</th>
                            <th>{{ product.name }}</th>
                            <th class="text-center">{{ product.amount }}</th>
                            <th>₡{{ product.price | currency:' ' }}</th>
                            <th>₡{{ product.total | currency:' ' }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>