<div class="animate__animated animate__fadeIn">
    <h3>Listado de Compras <a routerLink="/dashboard/purchase/new" class="btn btn-primary btn-sm">Nueva</a></h3>
    <div class="table-responsive">
        <table class="table bg-white">
            <thead class="thead-dark">
                <tr>
                    <th>Factura N°</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><small>1732854231567</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><small>1732812365438</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><small>1732823456432</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><small>1732823456432</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><small>1732823456432</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><small>1732823456432</small></th>
                    <td><small>Mark</small></td>
                    <td><small>2021-02-26</small></td>
                    <td><small>Demo</small></td>
                    <td><small>₡ 6788.98</small></td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle border"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip"
                                title="Despliega el menú de opciones dando clic">
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-divider mb-0"></div>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-eye"></i>
                                        Visualizar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-edit"></i> Editar</small></a>
                                <a class="dropdown-item" href="#"><small><i class="fas fa-trash-alt"></i>
                                        Eliminar</small></a>
                                <div class="dropdown-divider mt-0"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>