body {
    position: fixed; 
    width: 100%;
}

ul#tab.nav li.nav-item a.nav-link[aria-expanded="false"], ul#tab.nav li.nav-item a.nav-link {
    color: #868E96;
}

ul#tab.nav li.nav-item a.nav-link[aria-expanded="true"] {
    background: #fff;
    color: #343434;
}

.btn-info, .btn-info:hover {
    background: #592C98;
    border-color: #593196;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 0.9em;
}

button.rounded-circle.btn.btn-warning.mx-1.btn-sm, .fas.fa-cart-plus.fa-2x.text-success, .btn {
    cursor: pointer;
}

textarea.form-control {
    height: 10rem;
}

ul.collapse.list-unstyled.animate__animated.animate__fadeIn {
    background: #21252B;
}