body {
    position: fixed;
    width: 100%;
}

.sidebar .nav .nav-link,
body>.navbar-collapse .nav li .nav-link  {
    border-left: solid 3px transparent;
}

ul#tab.nav li.nav-item a.nav-link[aria-expanded="false"], ul#tab.nav li.nav-item a.nav-link {
    color: #868E96;
}

ul#tab.nav li.nav-item a.nav-link[aria-expanded="true"] {
    background: #fff;
    color: #222526;
}

.btn-info, .btn-info:hover {
    background: #592C98;
    border-color: #593196;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 0.9em;
}

button.rounded-circle.btn.btn-warning.mx-1.btn-sm, .btn {
    cursor: pointer;
}

textarea.form-control {
    height: 10rem;
}

ul.collapse.list-unstyled.animate__animated.animate__fadeIn {
    background: #21252B;
}

.col-md-8.bg-white.rounded {
    border-top: 3px solid #2196F3;
}

.dropdown-menu {
    font-size: .9125rem;
}

#buySubmenu, #productSubmenu, #saleSubmenu {
    background-color: #222526;
}

.color-mobil {
    background-color: #008D4C;
}

@media only screen and (min-width: 990px) {
    .color-mobil {
        background-color: #FFF;
    }
}

.loading {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}