<div class="animate__animated animate__fadeIn">
    <ul class="nav nav-tabs" id="tab" role="tablist">
        <li class="nav-item" (click)="reload()">
            <a class="nav-link" [ngClass]="!edit ? 'active':''" id="warehouseList-tab" data-toggle="tab" href="#warehouseList" role="tab" 
            aria-controls="warehouseList" [attr.aria-selected]="!edit" [attr.aria-expanded]="!edit">
                <i class="fas fa-list-ol"></i> Lista de Sucursales
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="edit ? 'active':''" id="warehouseAddEdit-tab" data-toggle="tab" href="#warehouseAddEdit" role="tab" 
                aria-controls="warehouseAddEdit" [attr.aria-selected]="edit" [attr.aria-expanded]="edit">
                <span *ngIf="!edit" class="animate__animated animate__fadeIn"><i class="fas fa-plus-circle"></i> Nueva Sucursal</span>
                <span *ngIf="edit" class="animate__animated animate__fadeIn"><i class="fas fa-edit"></i> Editar Sucursal</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade bg-white p-4" [ngClass]="!edit ? 'active show':''" id="warehouseList" role="tabpanel" aria-labelledby="warehouseList-tab">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let warehouse of warehouses">
                            <th>{{ warehouse.name }}</th>
                            <td>{{ warehouse.direction }}</td>
                            <td>{{ warehouse.phone }}</td>
                            <td>
                                <span *ngIf="warehouse.status" class="badge badge-success badge-pill">&nbsp;activo&nbsp;</span>
                                <span *ngIf="!warehouse.status" class="badge badge-secondary badge-pill">inactivo</span>
                            </td>
                            <td>
                                <button (click)="editWarehouse(warehouse)" class="rounded-circle btn btn-warning mx-1 btn-sm" rel="tooltip" title="Editar registro">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button (click)="deleteWarehouse(warehouse)" class="rounded-circle btn btn-dark mx-1 btn-sm" rel="tooltip" title="Eliminar registro">
                                    <i class="fas fa-trash-alt" ></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade bg-white p-4" [ngClass]="edit ? 'active show':''" id="warehouseAddEdit" role="tabpanel" aria-labelledby="warehouseAddEdit-tab">
            <warehouse-form [edit]="edit" [data]="warehouseEdit"></warehouse-form>
        </div>
    </div>
</div>