<breadcrumb [items]="items"></breadcrumb>
<div class="row animate__animated animate__fadeIn">
    <div class="col-md-4 text-center">
        <h2 *ngIf="!editing" class="text-warning mb-3">Nuevo Producto <i class="far fa-clipboard"></i></h2>
        <h2 *ngIf="editing" class="text-warning mb-3">Editar Producto <i class="far fa-clipboard"></i></h2>
        <img [src]="defaultPhoto" alt="product" class="img-thumbnail mb-3" style="max-height: 250px; max-width: 250px;">
    
        <br>
        <input type="file" class="d-none" #filePhoto (change)="onSelectPhoto($event)" accept="image/*" 
        (click)="$event.target.value = ''">
        <small class="text-muted">Tamaño de imágen máximo recomendado 720x720 pixeles</small>
        <br><br>
        <button class="btn btn-warning btn-sm mb-3 text-white mx-1" *ngIf="!btnReset"
            (click)="filePhoto.click()" [disabled]="form.controls['name'].invalid">
            <i class="fas fa-image"></i> Imágen
        </button>
        <button class="btn btn-dark btn-sm mb-3 mx-1" (click)="onResetPhoto()" *ngIf="btnReset">
            <i class="fas fa-minus-circle"></i> Remover
        </button>
    </div>
    <div class="col-md-8 bg-white rounded">
        <form action="#" class="px-3 pt-5" [formGroup]="form">
            <article class="form-group row">
                <label for="code" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-4 mb-2">
                    <input type="text" class="form-control" id="code" placeholder="A4DF" formControlName="code">
                </div>
                <label for="name" class="col-sm-2 control-label">Nombre <span class="text-danger">*</span></label>
                <div class="col-sm-4 mb-2">
                    <input type="text" class="form-control" [ngClass]="hasErrorField('name') ? 'is-invalid':''" id="name" placeholder="Caja vacía" 
                    formControlName="name" (change)="builNamePhoto()">
                    <div class="invalid-feedback" *ngIf="hasErrorField('name')">
                        Nombre es requerido
                    </div>
                </div>
            </article>

            <article class="form-group row">
                <label for="cost" class="col-sm-2 control-label">Costo <span class="text-danger">*</span></label>
                <div class="col-sm-4 mb-2">
                    <div class="ui form">
                        <div class="field" [ngClass]="hasErrorField('cost') ? 'error':''">
                            <div class="ui labeled input w-100">
                                <div class="ui label">₡</div>
                                <input type="number" placeholder="0.0" id="cost" formControlName="cost">
                            </div>
                            <div class="text-danger" *ngIf="hasErrorField('cost')">
                                <small *ngIf="requiredField('cost')">Costo es requerido</small>
                                <small *ngIf="patternField('cost')">Formato no es el correcto</small>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="price" class="col-sm-2 control-label">Precio Venta <span class="text-danger">*</span></label>
                <div class="col-sm-4 mb-2">
                    <div class="ui form">
                        <div class="field" [ngClass]="hasErrorField('price') ? 'error':''">
                            <div class="ui labeled input w-100">
                                <div class="ui label">₡</div>
                                <input type="number" placeholder="0.0" id="price" formControlName="price">
                            </div>
                            <div class="text-danger" *ngIf="hasErrorField('price')">
                                <small *ngIf="requiredField('price')">Costo es requerido</small>
                                <small *ngIf="patternField('price')">Formato no es el correcto</small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="form-group row">
                <label for="stock" class="col-sm-2 control-label">Stock <span class="text-danger">*</span></label>
                <div class="col-sm-4 mb-2">
                    <input type="number" class="form-control" [ngClass]="hasErrorField('stock') ? 'is-invalid':''" id="stock" placeholder="0" formControlName="stock">
                    <div class="invalid-feedback" *ngIf="hasErrorField('stock')">
                        <span *ngIf="requiredField('stock')">Stock es requerido</span>
                        <span *ngIf="patternField('stock')">Formato no es el correcto</span>
                    </div>
                </div>
                <label for="category" class="col-sm-2 control-label">Categoría <span class="text-danger">*</span></label>
                <div class="col-sm-4 mb-2">
                    <select class="form-control" id="category" formControlName="category">

                        <!-- TODO: Logica para mostrar y marcar las categorias  -->
                        <!-- <option *ngFor="let cat of categories" [value]="cat.id"  -->
                        <!-- [selected]="cat.id === form.get('category').value">{{ cat.name }}</option> -->

                        <option value="1A">Shampu</option>
                        <option value="2B">Tintes</option>
                        <option value="3C">Keratina</option>
                    </select>
                </div>
            </article>

            <article class="form-group row">
                <label for="status" class="control-label col-sm-3">Estado <span class="text-danger">*</span></label>
                <div class="col-sm-9 mb-2">
                    <select class="form-control" id="status" formControlName="status">
                        <option [ngValue]=true [selected]="form.get('status').value">Disponible</option>
                        <option [ngValue]=false [selected]="!form.get('status').value">No disponible</option>
                    </select>
                </div>
            </article>
            
            <article class="form-group row">
                <label for="description" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="10" placeholder="Detalles del producto" id="description"  formControlName="description"></textarea>
                </div>
            </article>

            <article class="form-group">
                <button *ngIf="!editing" class="btn btn-sm btn-round" 
                [ngClass]="formValid() ? 'btn-info':'btn-secondary'"
                [disabled]="!formValid()"><i class="fas fa-save"></i> Guardar</button>

                <button *ngIf="editing" class="btn btn-sm btn-round" 
                [ngClass]="formValid() ? 'btn-info':'btn-secondary'"
                [disabled]="!formValid()"><i class="fas fa-check-circle"></i> Actualizar</button>
            </article>
        </form>
    </div>
</div>