<div class="animate__animated animate__fadeIn">
    <div class="container">
        <form action="#" class="px-3" [formGroup]="form">
            <article class="form-group row mb-3">
                <label for="name" class="col-sm-2 control-label">Nombre <span class="text-danger">*</span></label>
                <div class="col-sm-6 mb-2">
                    <input type="text" class="form-control" [ngClass]="hasErrorName() ? 'is-invalid':''" id="name" placeholder="Tintes"
                    formControlName="name" required>
                    <div class="invalid-feedback" *ngIf="hasErrorName()">
                        Nombre es requerido
                    </div>
                </div>
            </article>

            <article class="form-group row">
                <label for="detail" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="10" placeholder="Detalles del producto" id="detail"  formControlName="detail"></textarea>
                </div>
            </article>

            <article class="form-group">
                <button *ngIf="!editing" class="btn btn-sm btn-round" 
                [ngClass]="formValid() ? 'btn-info':'btn-secondary'"
                [disabled]="!formValid()"><i class="right fas fa-save"></i> Guardar</button>

                <button *ngIf="editing" class="btn btn-sm btn-round" 
                [ngClass]="formValid() ? 'btn-info':'btn-secondary'" 
                [disabled]="!formValid()"><i class="fas fa-check-circle"></i> Actualizar</button>
            </article>
        </form>
    </div>
</div>