<div class="row animate__animated animate__fadeIn mt-4">
    <div class="container">
        <form action="#" class="px-3">

            <article class="form-group row">
                <label for="name" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-6 mb-2">
                    <input type="text" class="form-control" id="name" placeholder="Proveedor">
                </div>
            </article>

            <article class="form-group row">
                <label for="mail" class="col-sm-2 control-label">Correo</label>
                <div class="col-sm-6 mb-2">
                    <input type="email" class="form-control" id="mail" placeholder="correo@mail.com">
                </div>
            </article>

            <article class="form-group row">
                <label for="telephone" class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-6 mb-2">
                    <input type="number" class="form-control" id="telephone" placeholder="24356324 - 87654321">
                </div>
            </article>

            <article class="form-group row">
                <label for="direcction" class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-6">
                    <textarea id="direcction" class="form-control" rows="10" placeholder="Alajuela, Upala" style="height: 10rem;"></textarea>
                </div>
            </article>

            <article class="form-group">
                <button class="btn btn-info text-white btn-sm btn-round" disabled>Guardar</button>
            </article>
        </form>
    </div>
</div>